[미디엄 참조페이지](https://medium.com/swlh/reshaping-in-pandas-with-stack-and-unstack-functions-bb169f64467d#id_token=eyJhbGciOiJSUzI1NiIsImtpZCI6ImVlYTFiMWY0MjgwN2E4Y2MxMzZhMDNhM2MxNmQyOWRiODI5NmRhZjAiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJuYmYiOjE2MTE2MTM2NTksImF1ZCI6IjIxNjI5NjAzNTgzNC1rMWs2cWUwNjBzMnRwMmEyamFtNGxqZGNtczAwc3R0Zy5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjExNDg0MDQyODcwOTI3NjI2NTYwMiIsImVtYWlsIjoiZWhkYWxzMTMyM0BnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwiYXpwIjoiMjE2Mjk2MDM1ODM0LWsxazZxZTA2MHMydHAyYTJqYW00bGpkY21zMDBzdHRnLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwibmFtZSI6IkRPTkdNSU4gQ0hPIiwicGljdHVyZSI6Imh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9hLS9BT2gxNEdoS3lYdEQ4QUhndEtDQi1iRC02Q3I1Wnh3MlZQOV9QMXNrT3FqeW5BPXM5Ni1jIiwiZ2l2ZW5fbmFtZSI6IkRPTkdNSU4iLCJmYW1pbHlfbmFtZSI6IkNITyIsImlhdCI6MTYxMTYxMzk1OSwiZXhwIjoxNjExNjE3NTU5LCJqdGkiOiI3Yjk1ODBhMjVkOWQ3YzMwMzNkNzc2YWU2ZmQyYWFjZGJmMGJiZTNjIn0.EFXyI2pj8w4lpglSwcAUpwbkIs5zuVunTmOTsOZ-Z2mNpr_VP-Wra1Trj-nmRg6WlOyk-U7D47_iJ-aAGcMBUxa_PNoCcc7ZRfcexhfoWbyP5m0Stg3vZOY-aPoU6vq1RmUJvySkiFYxmQtdfz01X9N4C9MZv10HDQcaom3BWHIe18GdvjTUqgDUYEQmGiJGMDKT6zjD1FmcCuhP68pd2ov0LGRoZw1xtmDKyuHbN3uMHo-zIZr6STPRmQkZ63kbQvNaltid_NDXr7pwRGHhbUiTy4wHtYcjjDq2dTszNInkqraN4kAuT1Uk1Np57zPX4UaU17h3X6zGNzqsjzRkQg)

[판다스공홈](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.stack.html)

**요약**

* Stack : Column을 Row로 펴는것
* Unstack : Row를 Column으로 펴는 것

In [36]:
import numpy as np
import pandas as pd

# Stack

## Single Index

In [37]:
sample = pd.DataFrame([['동민', '철수', '영희'], [176, 173, 160]],
                     index=['이름', '키'], columns=['조', '김', '이'])
sample

      조    김    이
이름   동민   철수   영희
키   176  173  160

stack!

In [97]:
sample.stack().index.nlevels

2

In [98]:
sample.stack().reset_index().index.nlevels

1

## Multi Index

In [65]:
#lv0의 컬럼 이름이 달라야지 다르게 남는다.
col_lv2 = pd.MultiIndex.from_arrays([['주스', '주스', '빵', '빵']
                                     , ['포도주스', '사과주스',
                                       '피자빵', '소보루빵']])
index_lv2 = [['동민', '동민', '철수', '철수'],
             ['분석가', '사이언티스트', '엔지니어', '개발자']]

In [66]:
sample_lv2 = pd.DataFrame([[1, 2, 3, 4],
                           [4, 3, 2, 1],
                          [2, 4, 1, 3],
                          [3, 1, 4, 2]], index=index_lv2
                          ,columns=col_lv2)
sample_lv2

            주스        빵
          포도주스 사과주스 피자빵 소보루빵
동민 분석가       1    2   3    4
   사이언티스트    4    3   2    1
철수 엔지니어      2    4   1    3
   개발자       3    1   4    2

In [57]:
sample_lv2.stack().reset_index()

   level_0 level_1 level_2    빵   주스
0       동민     분석가    사과주스  NaN  2.0
1       동민     분석가    소보루빵  4.0  NaN
2       동민     분석가    포도주스  NaN  1.0
3       동민     분석가     피자빵  3.0  NaN
4       동민  사이언티스트    사과주스  NaN  3.0
5       동민  사이언티스트    소보루빵  1.0  NaN
6       동민  사이언티스트    포도주스  NaN  4.0
7       동민  사이언티스트     피자빵  2.0  NaN
8       철수    엔지니어    사과주스  NaN  4.0
9       철수    엔지니어    소보루빵  3.0  NaN
10      철수    엔지니어    포도주스  NaN  2.0
11      철수    엔지니어     피자빵  1.0  NaN
12      철수     개발자    사과주스  NaN  1.0
13      철수     개발자    소보루빵  2.0  NaN
14      철수     개발자    포도주스  NaN  3.0
15      철수     개발자     피자빵  4.0  NaN

In [58]:
sample_lv2.stack().stack().reset_index()

   level_0 level_1 level_2 level_3    0
0       동민     분석가    사과주스      주스  2.0
1       동민     분석가    소보루빵       빵  4.0
2       동민     분석가    포도주스      주스  1.0
3       동민     분석가     피자빵       빵  3.0
4       동민  사이언티스트    사과주스      주스  3.0
5       동민  사이언티스트    소보루빵       빵  1.0
6       동민  사이언티스트    포도주스      주스  4.0
7       동민  사이언티스트     피자빵       빵  2.0
8       철수    엔지니어    사과주스      주스  4.0
9       철수    엔지니어    소보루빵       빵  3.0
10      철수    엔지니어    포도주스      주스  2.0
11      철수    엔지니어     피자빵       빵  1.0
12      철수     개발자    사과주스      주스  1.0
13      철수     개발자    소보루빵       빵  2.0
14      철수     개발자    포도주스      주스  3.0
15      철수     개발자     피자빵       빵  4.0

* stack을 할때마다 가장 위 열부터 아래로 차례로 내려온다.

* 이어서.. 스택내부 파라미터부터

In [104]:
sample_lv2.stack(level=0)

              사과주스  소보루빵  포도주스  피자빵
동민 분석가    빵    NaN   4.0   NaN  3.0
          주스   2.0   NaN   1.0  NaN
   사이언티스트 빵    NaN   1.0   NaN  2.0
          주스   3.0   NaN   4.0  NaN
철수 엔지니어   빵    NaN   3.0   NaN  1.0
          주스   4.0   NaN   2.0  NaN
   개발자    빵    NaN   2.0   NaN  4.0
          주스   1.0   NaN   3.0  NaN

In [75]:
sample_lv3 = pd.DataFrame([[1, np.nan, 3, 4],
                           [4, 3, np.nan, 1],
                          [2, 4, 1, np.nan],
                          [np.nan, 1, 4, 2]], index=index_lv2
                          ,columns=col_lv2)
sample_lv3

            주스         빵
          포도주스 사과주스  피자빵 소보루빵
동민 분석가     1.0  NaN  3.0  4.0
   사이언티스트  4.0  3.0  NaN  1.0
철수 엔지니어    2.0  4.0  1.0  NaN
   개발자     NaN  1.0  4.0  2.0

In [106]:
sample_lv3.stack()

                  빵   주스
동민 분석가    소보루빵  4.0  NaN
          포도주스  NaN  1.0
          피자빵   3.0  NaN
   사이언티스트 사과주스  NaN  3.0
          소보루빵  1.0  NaN
          포도주스  NaN  4.0
철수 엔지니어   사과주스  NaN  4.0
          포도주스  NaN  2.0
          피자빵   1.0  NaN
   개발자    사과주스  NaN  1.0
          소보루빵  2.0  NaN
          피자빵   4.0  NaN

In [64]:
#stack _ level
sample_lv3.stack(level=1, dropna=False)

                  빵   주스
동민 분석가    사과주스  NaN  NaN
          소보루빵  4.0  NaN
          포도주스  NaN  1.0
          피자빵   3.0  NaN
   사이언티스트 사과주스  NaN  3.0
          소보루빵  1.0  NaN
          포도주스  NaN  4.0
          피자빵   NaN  NaN
철수 엔지니어   사과주스  NaN  4.0
          소보루빵  NaN  NaN
          포도주스  NaN  2.0
          피자빵   1.0  NaN
   개발자    사과주스  NaN  1.0
          소보루빵  2.0  NaN
          포도주스  NaN  NaN
          피자빵   4.0  NaN

# unstack

In [67]:
sample_lv2.stack().stack().reset_index()

   level_0 level_1 level_2 level_3    0
0       동민     분석가    사과주스      주스  2.0
1       동민     분석가    소보루빵       빵  4.0
2       동민     분석가    포도주스      주스  1.0
3       동민     분석가     피자빵       빵  3.0
4       동민  사이언티스트    사과주스      주스  3.0
5       동민  사이언티스트    소보루빵       빵  1.0
6       동민  사이언티스트    포도주스      주스  4.0
7       동민  사이언티스트     피자빵       빵  2.0
8       철수    엔지니어    사과주스      주스  4.0
9       철수    엔지니어    소보루빵       빵  3.0
10      철수    엔지니어    포도주스      주스  2.0
11      철수    엔지니어     피자빵       빵  1.0
12      철수     개발자    사과주스      주스  1.0
13      철수     개발자    소보루빵       빵  2.0
14      철수     개발자    포도주스      주스  3.0
15      철수     개발자     피자빵       빵  4.0

In [68]:
lv3 = sample_lv2.stack().stack().reset_index()

In [74]:
lv3.unstack().reset_index()

    level_0  level_1   0
0   level_0        0  동민
1   level_0        1  동민
2   level_0        2  동민
3   level_0        3  동민
4   level_0        4  동민
..      ...      ...  ..
75        0       11   1
76        0       12   1
77        0       13   2
78        0       14   3
79        0       15   4

[80 rows x 3 columns]

* 왜? 행이 멀티 인덱스가 아니었기 때문에

In [108]:
sample_lv3.unstack()

     주스                                          빵                             \
   포도주스                  사과주스                  피자빵                  소보루빵
    개발자  분석가 사이언티스트 엔지니어  개발자 분석가 사이언티스트 엔지니어  개발자  분석가 사이언티스트 엔지니어  개발자  분석가
동민  NaN  1.0    4.0  NaN  NaN NaN    3.0  NaN  NaN  3.0    NaN  NaN  NaN  4.0
철수  NaN  NaN    NaN  2.0  1.0 NaN    NaN  4.0  4.0  NaN    NaN  1.0  2.0  NaN



   사이언티스트 엔지니어
동민    1.0  NaN
철수    NaN  NaN

In [84]:
sample_lv3.unstack(fill_value=0)

     주스                                           빵                        \
   포도주스                  사과주스                   피자빵                  소보루빵
    개발자  분석가 사이언티스트 엔지니어  개발자  분석가 사이언티스트 엔지니어  개발자  분석가 사이언티스트 엔지니어  개발자
동민  0.0  1.0    4.0  0.0  0.0  NaN    3.0  0.0  0.0  3.0    NaN  0.0  0.0
철수  NaN  0.0    0.0  2.0  1.0  0.0    0.0  4.0  4.0  0.0    0.0  1.0  2.0



    분석가 사이언티스트 엔지니어
동민  4.0    1.0  0.0
철수  0.0    0.0  NaN